* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 500px) {
    p {
        display: none;
    }
}

/* Navigation Bar Styling */

.nav-container {
    background-color: #333;
    width: 100%;
}

.nav-container.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-container ul {
    list-style-type: none;
}

.nav-container li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
} 

.active {
    background-color: #019e91;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #019e91
}
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-text {
    color: white;
    text-align: right;
    display: block;
    padding: 8px 10px;
}

.submit {
    display: table;
    margin: 0 auto;
  }

#banner {
    padding: 170px;
    background-size: 96% auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: #fff;
}

.guide {
    padding-left: 60px;
    padding-right: 60px;
}
h1.special {
    text-align: left;
    color: white;
}

p.descript {
    padding: 40px;
}

p {
    margin: 0 auto;
    padding: 8px;
    padding-top: 15px;
}

h2, h5 {
    color: rgb(0, 0, 0);
    margin: 0 auto;
    padding: 10px;
}

h1, h3, h4 {
    color: rgb(66, 66, 66);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

img{
    width:100%;
    max-width:100px;
    margin-right: 20px
}

.fern{
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    position: relative;
}

.footer {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

/* .logo {
    margin:  auto;
    max-width: 400px;
    padding: 20px;
} */